<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.imie.montpporte"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        !-- Main activity -->
        <activity
            android:name="com.imie.montpporte.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        !-- Gestion donnees activity -->
        <activity
            android:name="com.imie.montpporte.GestionDonneesActivity"
            android:label="@string/action_gestiondonnees"
            android:parentActivityName="com.imie.montpporte.MainActivity" >
        </activity>
        !-- Station activity -->
        <activity
            android:name="com.imie.montpporte.StationActivity"
            android:label="@string/station"
            android:parentActivityName="com.imie.montpporte.MainActivity" >
        </activity>
        !-- GestionUser activity -->
        <activity
            android:name="com.imie.montpporte.GestionUserActivity"
            android:label="@string/title_activity_gestion_user" >
        </activity>
        !-- GestionCommand activity -->
        <activity
            android:name="com.imie.montpporte.GestionCommandActivity"
            android:label="@string/title_activity_gestion_command" >
        </activity>
        !-- GestionStation activity -->
        <activity
            android:name="com.imie.montpporte.GestionStationActivity"
            android:label="@string/title_activity_gestion_station" >
        </activity>
        !-- Search activity -->
        <activity
            android:name="com.imie.montpporte.SearchActivity"
            android:label="@string/action_search"
            android:parentActivityName="com.imie.montpporte.MainActivity" >
        </activity>
    </application>

</manifest>
